body{
    background-image: radial-gradient(circle at -7.92% 9.44%, #00ffff 0, #00ffff 16.67%, #00e8ff 33.33%, #0cc1ed 50%, #329cc2 66.67%, #3a7c9b 83.33%, #396078 100%);
    font-family: Bradley Hand, cursive;
}

header{
    text-align: center;
    border: solid;
    border-color: #eee;
    border-radius: 15px;

}

h1{
    text-shadow: 1px 1px 10px rgb(48, 11, 28);
}

.box{
    display: inline-block;
    width:100px;
    height: 100px;
    margin:30px;
    padding: 30px;
    border-style:solid;
    border-color:#eee;
    border-width: 8px;
    border-left: 6px solid #aff;
    border-radius: 8px;
    text-align: center;


}

p{
    margin:auto;
    padding: auto;
    
}

.j1{
    width: 30%;
    height: 450px;
}
.j2{
    float: right;
    width: 30%;
    height: 450px;
}






.piedra{
    
    background-image:url(/img/piedra.png);
    background-size: cover;
    
}

.papel{
    background-image: url(/img/papel.png);
    background-size: cover;
}

.tijeras{
    background-image: url(/img/tijeras.png);
    background-size: cover;
}